@model GivskudDashboard.ViewModels.AllMarkersViewModel

@{
	ViewData["Title"] = "Index";
}

<h2>All Markers</h2>

@Html.Partial("_DeleteConfirmationModal")

<table class="markers-table table table-hover">
	<thead>
		<tr>
			<th>
				@Model.ColumnTitles[0]
			</th>
			<th>
				@Model.ColumnTitles[1]
			</th>
			<th class="text-right">
				<a class="btn btn-primary" asp-action="Create">Create New</a>
				<a class="btn btn-primary" asp-action="Index" asp-controller="Overview">Overview</a>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Markers)
		{
			<tr>
				<td>
					<div>
						<img src="~/images/types/@(Model.Types[item.MarkerTypeID - 1].Name).png" alt="#" />
					</div>
					<p>
						@Html.DisplayFor(modelItem => item.Title)
					</p>
				</td>
				<td class="type-column">
					<p>@Model.Types[item.MarkerTypeID - 1].Name</p>
				</td>
				<td class="text-right actions-column">
					<a type="button" class="btn text-danger" data-toggle="modal" data-target="#exampleModal" onclick="setId(@item.ID)">Delete</a>
					<a class="btn btn-info" role="button" asp-action="Details" asp-controller="Overview" asp-route-id="@item.ID" asp-route-lat="@item.Lat" asp-route-lng="@item.Lng">View</a>
					<a class="btn btn-info" role="button" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<script>
	var deleteButton = document.getElementById("delete-confirm-button")
	function setId(id) 
	{
		deleteButton.setAttribute("href", "/Markers/Delete/" + id);
	}
</script>