@model IEnumerable<GivskudDashboard.Models.Marker>

@{
	ViewData["Title"] = "Index";
}

<h2>All Markers</h2>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarkerTypeID)
                </th>
                <th class="marker-buttons">        
                    <a class="btn btn-primary" asp-action="Create">Create New</a>
                    <a class="btn btn-primary" asp-action="Index">Overview</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="marker-table">
                        (img here)
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="marker-table">

                        @Html.DisplayFor(modelItem => item.MarkerTypeID)
                    </td>
                    <td class="marker-table marker-buttons" >
                        <a class="btn btn-danger" role="button" asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                        <a class="btn btn-info" role="button" asp-action="Details" asp-route-id="@item.ID">View</a> |
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
